*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
}

a:hover {
    color: hsl(0, 0%, 60%);
}

input,
button,
textarea,
select {
    font: inherit;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0, 0%, 15%);
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
}

body>* {
    width: 100%;
    padding: 25px;
}

header {
    text-align: center;
    font-size: 40px;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-gray-200);
}

.gridPanel {
    margin: 30px 0px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 8px hsl(0, 0%, 15%);
    width: 35vw;
    height: 35vw;
    display: grid;
}

ol {
    padding: 0;
}

ol>li {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 20px;
}

button,
input {
    cursor: pointer;
}

input[type="color"] {
    width: 60px;
    height: 60px;
    border: none;
    background-color: hsl(0, 0%, 98%);
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 5px hsl(0, 0%, 15%);
}

input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background-image: linear-gradient(hsl(0, 0%, 90%), hsl(0, 0%, 90%));
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: hsl(0, 0%, 15%);
}

@media (max-width:800px) {
    .gridPanel {
        width: 95vw;
        height: 95vw;
    }

    header {
        font-size: 30px;
    }
}

button {
    width: 215px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid hsla(0, 0%, 0%, 0.63);
    background-color: hsl(0, 0%, 98%);
}

button:hover {
    background-color: hsl(0, 0%, 15%);
    transform: scale(1.05);
    color: hsl(0, 0%, 100%);
    transition: all 0.08s ease;
}

footer {
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
}